.form-signin{
	padding-top: 65px; 
	max-width: 350px; 
	margin:auto; float:none;
}

.form-signin input{
	margin-bottom:10px;
}

#login-success {
	display:none;
}

#login-error {
	visibility:hidden;
}

body {
	background-color: #EEE; }
}
